#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff7f3;
}



@keyframes morph {

    0%,
    100% {
        border-radius: 90%;
        /* Circle */
    }

    50% {
        border-radius: 40% 60% 30% 70% / 50% 30% 70% 50%;
        /* Blob shape */
    }
}

.animate-morph {
    animation: morph 2s infinite;
}


